
@{
    ViewBag.Title = "uploadCSV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class=" alert alert-warning">@ViewBag.Message</div>
    }
}

<h2>Cargue Masivo de datos</h2>

@using (Html.BeginForm("uploadCSV", "Proveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="fileForm" />
    <input type="submit" value="Cargar Archivo" />
}


