
@{
    ViewBag.Title = "uploadCSV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cargue Masivo de datos</h2>

@using (Html.BeginForm("uploadCSV", "Proveedor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="fileForm" />
    <input type="submit" value="Cargar Archivo" />
}


